{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo dnf install ripgrep
sudo dnf install tmux
curl -sS https://starship.rs/install.sh | sh

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep
brew install tmux
curl -sS https://starship.rs/install.sh | sh

{{ else if eq .chezmoi.os "windows" -}}
winget install --id Starship.Starship

{{ end -}}
