{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
dnf install ripgrep tmux thefuck -y || apt install ripgrep tmux thefuck -y || true
mkdir -p ~/.local/share/fonts
cd ~/.local/share/fonts && curl -fLO https://github.com/ryanoasis/nerd-fonts/raw/HEAD/patched-fonts/JetBrainsMono/JetBrainsMNerdFont-Regular.otf
starship --version || curl -sS https://starship.rs/install.sh | sh || true

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install thefuck ripgrep tmux
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
cd ~/Library/Fonts && curl -fLO https://github.com/ryanoasis/nerd-fonts/raw/HEAD/patched-fonts/JetBrainsMono/Ligatures/Regular/JetBrainsMonoNerdFontMono-Regular.ttf
curl -sS https://starship.rs/install.sh | sh

{{ else if eq .chezmoi.os "windows" -}}
winget install --id Starship.Starship

{{ end -}}
