@import "macchiato.css";

* {
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font";
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left,
.modules-center,
#cpu,
#memory,
#custom-cpu_temp,
#temperature,
#wireplumber,
#backlight,
#custom-spotify,
#custom-icon,
#custom-updates,
#language,
#network,
#tray,
#idle_inhibitor,
#custom-power,
#custom-weather,
#custom-notification {
  border-radius: 18px;
  font-size: 12px;
}

/* Seperating so we can sent font-size for power menu */
.modules-right,
#custom-notification {
  border-radius: 18px;
}

/* ------ Modules Left ------ */
.modules-left {
  background-color: @base;
  padding-right: 10px;
  padding-left: 17px;
  margin: 4px;
}

/* ------ Modules Center ------ */
.modules-center {
  background-color: @base;
  padding-right: 4px;
  padding-left: 4px;
  margin: 4px;
}

/* ------ Modules Right ------ */
.modules-right {
  background-color: @base;
  padding-right: 0px;
  padding-left: 4px;
}

/* ------ Window Title ------ */
#window {
  color: @text;
  padding-right: 4px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0px solid #ffffff;
  /* color: #FFFFFF; */
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces button.empty {
  color: @surface2;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces {
  margin: 0px 1px 0px 1px;
  padding: 0px 3px;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces button {
  padding: 0px 1.2px;
  margin: 4px 2px;
  color: @yellow;
  font-family: JetBrainsMono Nerd Font;
}

#workspaces button:hover {
  opacity: 0.5;
}

/* ------ Backlight ------ */
#backlight {
  color: @sky;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Wireplumber ------ */
#wireplumber {
  color: @peach;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Language ------ */
#language {
  color: @flamingo;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ CPU ------ */
#cpu {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 11px;
  margin: 4px 2px;
}

/* ------ Memory ------ */
#memory {
  color: @mauve;
  background-color: @surface1;
  padding: 4px 8px;
  margin: 4px 2px;
}

/* ------ Temperature ------ */
#custom-cpu_temp,
#temperature {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Network ------ */
#network {
  color: @mauve;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Clock ------ */
#clock {
  padding-left: 6px;
  color: @text;
  font-weight: bold;
  font-size: 13px;
}

/* ------ System Tray ------ */
#tray {
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

/* ------ Custom Modules ------ */
#custom-icon {
  font-size: 18px;
  color: @blue;
  padding-right: 5px;
}

#custom-power {
  color: @red;
  background-color: @surface1;
  padding: 2px 14px 2px 11px;
  margin: 4px 4px 4px 4px;
  font-size: 15px;
}

#custom-notification {
  color: @red;
  background-color: @surface1;
  padding: 2px 14px 2px 11px;
  margin: 4px 4px 4px 4px;
  font-size: 15px;
}

#custom-weather {
  /* color: @red; */
  /* background-color: @surface1; */
  /* padding: 2px 14px 2px 11px; */
  /* margin: 4px 4px 4px 4px; */
  font-size: 12px;
  font-family: "JetBrainsMono Nerd Font";
}

#idle_inhibitor {
  color: @green;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 4px 2px;
  font-size: 15px;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}

menuitem {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 22px;
}
